@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Your shopping cart is empty!</h1>
<iframe src="https://giphy.com/embed/PkAG8cQIWuOHTZSHj5" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/roosterteeth-rooster-teeth-barbara-dunkelman-always-open-PkAG8cQIWuOHTZSHj5">via GIPHY</a></p>